<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="app">

        <p>
            <input v-model="newName">
            <button @click="addName">Add</button>
        </p>
        <div v-for="(name, n) in names">
            <ul>
                <li>
                    <span class="name">{{ name }}</span>
                    <button @click="editName()">Edit</button>
                    <button @click="removeName(n)">Delete</button>
                </li>
                
            </ul>

        </div>
        
    </div>

    <script>
            const app = new Vue({
            el: '#app',
            data: {
                names: [],
                newName: null
            },
            mounted() {
                if (localStorage.getItem('names')) {
                    try {
                        this.names = JSON.parse(localStorage.getItem('names'));
                    } catch(e) {
                        localStorage.removeItem('names');
                    }
                }
            },
            methods: {
                addName() {
                
                if (!this.newName) {
                    return;
                }

                this.names.push(this.newName);
                this.newName = '';
                this.saveNames();
                },
                removeName(x) {
                this.names.splice(x, 1);
                this.saveNames();
                },
                saveNames() {
                const parsed = JSON.stringify(this.names);
                localStorage.setItem('names', parsed);
                }
            }
            });
    </script>
  </body>
</html>